@import './spinner.scss';

.btn:focus {
    outline: none;
}

.fix-margin {
    margin-bottom: 0;
}

.info-box {
    background-color: #dcdcdc;
    padding: 0.25em 0 1em 1.25em;
    margin-bottom: 1.5em;
}

.player-suggestions {
    margin: 2.4em 5.4em 0 0;
}

.player-name-box {
	margin-bottom: 3em;
	.player-name {
		font-size: 3em;
	}
}

.player-list li:hover {
    background-color: #dcdcdc;
}

.player-list {
    list-style-type: none;
    padding: 0;
    li {
        padding-left: 1em;
        a {
            text-decoration: none;
            color: black;
        }
    }
}
